@import "tailwindcss";

@layer utilities {
  .hide-scrollbars {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbars::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
